<%= content_for :title, "Audeecon's features" %>
<h2 class="header">What Audeecon can offer you!</h2>

<ul class="small-block-grid-6">
  <li>
  	<%= link_to image_tag("signup.PNG"), image_path("signup.PNG")%>
  	<p class="caption">Sign up</p>
  </li>
  <li>
  	<%= link_to image_tag("avatar.PNG"), image_path("avatar.PNG")%>
  	<p class="caption">Choose an avatar</p>
  </li>
  <li>
  	<%= link_to image_tag("friends.PNG"), image_path("friends.PNG")%>
  	<p class="caption">Friend list</p>
  </li>
  <li>
  	<%= link_to image_tag("add-friend.PNG"), image_path("add-friend.PNG")%>
  	<p class="caption">Add friend</p>
  </li>
  <li>
  	<%= link_to image_tag("friend-request.PNG"), image_path("friend-request.PNG")%>
  	<p class="caption">Friend request</p>
  </li>
  <li>
  	<%= link_to image_tag("unfriend.PNG"), image_path("unfriend.PNG")%>
  	<p class="caption">Unfriend</p>
  </li>
  <li>
  	<%= link_to image_tag("keyboard.PNG"), image_path("keyboard.PNG")%>
  	<p class="caption">Customized keyboard</p>
  </li>
  <li>
  	<%= link_to image_tag("keyboard-recommender-on.PNG"), image_path("keyboard-recommender-on.PNG")%>
  	<p class="caption">Recommender mode keyboard</p>
  </li>
  <li>
  	<%= link_to image_tag("send-msg.PNG"), image_path("send-msg.PNG")%>
  	<p class="caption">Record and send voice messages</p>
  </li> 
  <li>
  	<%= link_to image_tag("play-msg.PNG"), image_path("play-msg.PNG")%>
  	<p class="caption">Play messages</p>
  </li>

  <li>
  	<%= link_to image_tag("store.PNG"), image_path("store.PNG")%>
  	<p class="caption">Stickers store</p>
  </li>
  <li>
  	<p class="end-features">More to come soon!</p>
  </li>   
</ul