<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="icon-bar six-up" role="navigation">
      <a class="item" aria-labelledby="#itemlabel1" href="/">
        <i class="fa fa-home"></i>
        <label id='itemlabel1'>Home</label>
      </a>
      <a class="item" aria-labelledby="#itemlabel2" href="/features">
        <i class="fa fa-bolt"></i>
        <label id='itemlabel2'>Features</label>
      </a>
      <a class="item" aria-labelledby="#itemlabel3" href="/demo">
        <i class="fa fa-youtube-play"></i>
        <label id='itemlabel3'>Video Demo</label>
      </a>
      <a class="item" aria-labelledby="#itemlabel4" href="/api-list">
        <i class="fa fa-table"></i>
        <label id='itemlabel4'>APIs List</label>
      </a>
      <a class="item" aria-labelledby="#itemlabel5" href="/update-stickers">
        <i class="fa fa-table"></i>
        <label id='itemlabel5'>Update Stickers</label>
      </a>      
      <a class="item" aria-labelledby="#itemlabel6" href="/about">
        <i class="fa fa-comments-o"></i>
        <label id='itemlabel6'>About</label>
      </a>
    </div>
    <%= yield %>
  </body>

</html>

